button {
    position: absolute;
    right: 12px;
    top: 6px;
    padding: 0.5em;
    background: #0095ff;
    color: #000;
    border: none;
    border-radius: 3px;
    transition: background 0.15s ease-in-out;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

button:hover {
    background: #174566;
}